@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Ysabeau+Office&display=swap');

/* font-family: 'Kalam', cursive;
font-family: 'Ysabeau Office', sans-serif; */

* {
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: 'Ysabeau Office', sans-serif;
    min-height: 100%;
    height: 100%;
}

body {
    background: url('/src/img/background-pic.jpg') no-repeat center center fixed;
    background-size: cover;
}

.glass-cover {
    position: fixed;
    z-index: -1;

    margin: 0;
    padding: 0;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(102, 102, 102, 0.15);
    backdrop-filter: blur(5px);
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
}

/* header styling */

header {
    min-width: 100%;
    height: 80px;
}
header > .container {
    background-color: rgb(179, 179, 179);
}

.header-content {
    display: flex;
    align-items: center;
    min-height: 100%;
    overflow: hidden;

    margin: 0px 60px;
}

.header-content__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content__wrapper > i {
    font-size: 72px;
    color: #ff8e25c9;
}

.header-content__wrapper > h2 {
    font-family: 'Kalam', cursive;
    font-size: 42px;
    color: #6b6b6b;
    padding-right: 60px;
}

/* main-content section styling */

.main {
    display: block;
    position: relative;
    height: 100%;
}

main > .container {
    height: 2000px;

    /*  */

    background-color: rgba(255, 255, 255, 0.75);

    -webkit-box-shadow: 0px 0px 105px 60px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 105px 60px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 105px 60px rgba(255, 255, 255, 0.6);
}

.main-navigation {
    padding-top: 40px;
}

.main-navigation__wrapper {
    margin: 20px 40px;
}

.navigation-list {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.navigation-option {
    text-decoration: none;
    color: #5a5a5a;
    font-size: 1.7em;
    font-weight: 600;
    padding: 12px 40px;

    transition: color 0.2s;
}

.nav-active {
    background-color: #6b6b6b3f;
    border-radius: 7px;
}

/* TODO */

.navigation-option:hover {
    color: #f79437c9;
}

.separator {
    min-height: 100%;
    margin: 0 10px;
    border-right: 1px solid black;
}

.test-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    width: 100%;

    margin: 0 auto;

    padding-top: 20px;
}
